<div data-b="common.search" data-b-visible="n => n" class="hidden">
	<div class="padding">
		<h3><i class="fa fa-search mr5"></i>@(Search results)</h3>
		<div data-jc="repeater" data-jc-path="chat.search" class="chat">
			<script type="text/html">
				{{ if user }}
				<figure{{ if user.me }} class="me"{{ fi }}>
					<div class="chat-picture">
						<a href="{{ if user.me }}javascript:void(0){{ else }}/users/{{ user.linker }}/{{ fi }}" class="jrouting"><img src="/photos/{{ user.picture }}.jpg" alt="{{ user.name }}" class="img-responsive" border="0" /></a>
					</div>
					<div class="chat-body">
						<div class="chat-user"><i class="fa useronline fa-circle{{ if user.online }} online{{ fi }}" data-id="{{ user.id }}"></i><a href="{{ if user.me }}javascript:void(0){{ else }}/users/{{ user.linker }}/{{ fi }}" class="jrouting"><b>{{ user.name }}</b></a> <span class="datetime" data-value="{{ datecreated }}">{{ datecreated | time }}</span></div>
						<div class="chat-position">{{ user.position }}</div>
						<div class="markdown">{{ body | markdown }}</div>
					</div>
				</figure>
				{{ fi }}
			</script>
		</div>
		<div data-b="chat.search" data-b-visible="n => n && !n.length" class="padding">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 center">
					<hr />
					<div><i class="fa fa-search fa-4x"></i></div>
					<p>@(<b>No messages</b> found in database.)</p>
					<hr />
				</div>
			</div>
		</div>
	</div>
</div>

<div data-b="common.search" data-b-visible="n => !n">
	<div data-jc="chat" data-previous="@(Previous page: {0})">
		<script type="text/html">
			<figure data-id="{{ id }}"{{ if user.me }} class="me"{{ fi }}>
				<div class="chat-picture">
					<a href="{{ if user.me }}javascript:void(0){{ else }}/users/{{ user.linker }}/{{ fi }}" class="jrouting"><img src="/photos/{{ user.picture }}.jpg" alt="{{ user.name }}" class="img-responsive" border="0" /></a>
					{{ if edited }}<div class="center mt10 silver" title="@(Edited)"><i class="fa fa-pencil"></i></div>{{ fi }}
				</div>
				<div class="chat-body">
					<div class="chat-user"><i class="fa useronline fa-circle{{ if user.online }} online{{ fi }}" data-id="{{ user.id }}"></i><a href="{{ if user.me }}javascript:void(0){{ else }}/users/{{ user.linker }}/{{ fi }}" class="jrouting"><b>{{ user.name }}</b></a>{{ if mobile }}<span class="fa fa-mobile"></span>{{ fi }}<span class="datetime" data-value="{{ datecreated }}">{{ datecreated | time }}</span></div>
					<div class="chat-position">{{ user.position }}</div>
					<div class="markdown">{{ body | markdown }}</div>
				</div>
			</figure>
		</script>
	</div>
</div>

<div data-b="chat.empty" data-b-visible="n => n">
	<br /><br />
	<br /><br />
	<div class="center">
		<i class="fa fa-commenting-o green fa-5x"></i>
		<div class="mt10"><b>@(No conversation yet.)</b><br />@(Just write a new message on this page.)</div>
	</div>
</div>

<script>
	var MSG_ROUTE = {};
	var CHATFILTER = { max: 15 };
	var CHATSEARCH = { max: 30, q: '', page: 1 };
	var chat = { empty: true, lastmessage: null };

	function chat_reload(page) {
		MSG_ROUTE.type = current.route.type;
		MSG_ROUTE.id = current.route.item.id;
		CHATFILTER.page = page || 1;
		SETTER('loading', 'show');
		AJAX('GET /api/messages/{0}/'.format((MSG_ROUTE.type === 'channel' ? 'channel' : 'user') + MSG_ROUTE.id), CHATFILTER, function(response) {

			// We have to reverse array because all messages are from newest to older
			response.reverse();

			if (CHATFILTER.page === 1) {
				SETTER('chat', 'empty');
				SETTER('chat', 'insert', response);
				SET('chat.empty', response.length === 0);
			} else
				SETTER('chat', 'prepend', response);

			SETTER('websocket', 'send', MSG_ROUTE);
			SETTER('loading', 'hide', 500);
			SETTER('codemirror', 'focus');
		});

		$('#messagebox').removeClass('hidden');
		EMIT('resize');
	}

	WATCH('common.search', function(path, value) {

		if (common.page !== 'chat')
			return;

		if (!value) {
			chat.search !== EMPTYARRAY && SET('chat.search', EMPTYARRAY);
			return;
		}

		CHATSEARCH.q = value;

		SETTER('loading', 'show');
		AJAX('GET /api/messages/{0}/'.format((MSG_ROUTE.type === 'channel' ? 'channel' : 'user') + MSG_ROUTE.id), CHATSEARCH, function(response) {
			SETTER('loading', 'hide', 1000);

			response.forEach(function(item) {
				item.user = current.users.findItem('id', item.iduser);
			});

			SET('chat.search', response);
		});
	});

	COMPONENT('chat', function() {

		var self = this;
		self.next = false;
		self.blind();
		self.readonly();
		self.singleton();

		self.prepend = function(value) {
			var builder = [];

			value.forEach(function(item) {
				item.me = user.id === item.iduser;
				item.user = current.users.findItem('id', item.iduser);
				builder.push(self.template(item));
				item.me && (chat.lastmessage = item);
			});

			if (builder.length) {
				builder.push('<div class="previouspage"><div>{0}</div></div>'.format(self.attr('data-previous').format(CHATFILTER.page)));
				highlight(self.element.prepend(builder.join('')));
			}

			var el = $('#content');
			el.scrollTop(el.find('.previouspage').eq(0).offset().top - 100);
			self.next = value.length === CHATFILTER.max;
			return self;
		};

		self.insert = function(value) {

			if (!(value instanceof Array))
				value = [value];
			else
				self.next = value.length === CHATFILTER.max;

			var builder = [];

			value.forEach(function(item) {
				item.me = user.id === item.iduser;
				item.user = current.users.findItem('id', item.iduser);
				item.me && (chat.lastmessage = item);
				builder.push(self.template(item));
			});

			builder.length && chat.empty && SET('chat.empty', false);
			highlight(self.append(builder.join('')));
			setTimeout2(self.id, scrollBottom, 500);

			return self;
		};

		self.replace = function(item) {
			item.me = user.id === item.iduser;
			item.user = current.users.findItem('id', item.iduser);
			item.me && (chat.lastmessage = item);
			self.find('[data-id="{0}"]'.format(item.id)).replaceWith(self.template(item));
			return self;
		};

		self.make = function() {
			self.classes('chat');
			var scr = self.find('script');
			self.template = Tangular.compile(scr.html());
			scr.remove();

			var content = $('#content');
			content.on('scroll', function() {
				if (!self.next || common.page !== 'chat')
					return;
				setTimeout2('contentscroll', function() {
					content.scrollTop() === 0 && chat_reload(CHATFILTER.page + 1);
				}, 200);
			});
		};
	});

	function chat_export() {
		SETTER('loading', 'show');
		AJAX('GET /api/messages/{0}/'.format((MSG_ROUTE.type === 'channel' ? 'channel' : 'user') + MSG_ROUTE.id), { max: 100 }, function(response) {

			var divider = '---------------------------------------------------------------';
			var builder = [];

			builder.push('[{0}: @(last 100 messages)]'.format(document.title));
			builder.push('[@(Created): {0}]'.format(new Date().format('yyyy-MM-dd HH:mm:ss')));
			builder.push('[@(Location): {0}]'.format(location.href));
			builder.push('');
			builder.push(divider);

			response.reverse();

			response.forEach(function(item) {
				var u = current.users.findItem('id', item.iduser);
				builder.push('DATETIME: {0}, USERNAME: {1}'.format(item.datecreated.format('yyyy-MM-dd HH:mm:ss'), u ? u.name : '@(unknown user)'));
				builder.push('');
				builder.push(item.body);
				builder.push('');
				builder.push(divider);
			});

			SETTER('loading', 'hide', 1000);
			var name = (MSG_ROUTE.type === 'channel' ? current.channels : current.users).findItem('id', MSG_ROUTE.id).linker;
			saveAs(new Blob([builder.join('\n')], { type: 'text/plain;charset=utf-8' }), 'conversation-{0}.txt'.format(name));
		});
	}

</script>